<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd"
>
    <default>
        <dev>
            <magewire>
                <loader>
                    <enable>1</enable>
                    <enable_notifications>1</enable_notifications>
                </loader>
            </magewire>
        </dev>
    </default>
</config>
