<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd"
>
    <default>
        <magewire>
            <features>
                <multiple_root_element_detection>
                    <behavior>exception</behavior>
                </multiple_root_element_detection>

                <rate_limiting>
                    <enabled>0</enabled>
                    <developer_mode>0</developer_mode>

                    <requests>
                        <scope>0</scope>
                        <max_attempts>4</max_attempts>
                        <decay_seconds>5</decay_seconds>
                    </requests>
                </rate_limiting>
            </features>
        </magewire>
    </default>
</config>
