<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd"
>
    <default>
        <magewire>
            <features>
                <rate_limiter>
                    <enabled>0</enabled>

                    <requests>
                        <max_attempts>4</max_attempts>
                        <decay_seconds>5</decay_seconds>
                    </requests>
                </rate_limiter>
            </features>
        </magewire>
    </default>
</config>
