<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd"
>
    <!-- IMPORTANT: Mechanisms and Features require separate injection in each area (frontend and adminhtml).
         This is due to Magento's area-based dependency injection system. To use the same instance in
         multiple areas, you must define it in each area's di.xml file. -->

    <!-- Global Preferences -->
    <preference for="Magewirephp\Magewire\Model\App\AbstractExceptionHandler"
                type="Magewirephp\Magewire\Model\App\ExceptionHandler"
    />
    <preference for="Magewirephp\Magewire\Support\DataScope\Compiler"
                type="Magewirephp\Magewire\Support\DataScope\Compiler\RecursiveArray"
    />
    <preference for="Magewirephp\Magewire\Mechanisms\ResolveComponents\Layout\LayoutDecorator"
                type="Magewirephp\Magewire\Mechanisms\ResolveComponents\Layout\MagewireLayoutDecorator"
    />
    <preference for="Magewirephp\Magewire\Features\SupportMagewireCompiling\View\Compiler"
                type="Magewirephp\Magewire\Features\SupportMagewireCompiling\View\Compiler\MagentoTemplateCompiler"
    />
    <preference for="Magewirephp\Magewire\Support\DataCollection"
                type="Magewirephp\Magewire\Support\DataArray"
    />
    <preference for="Magewirephp\Magewire\Support\DataCollection\Filter"
                type="Magewirephp\Magewire\Support\DataCollection\Filter\DataCollectionFilter"
    />

    <!--
        Feature: Magewire Rate Limiting
    -->
    <preference for="Magewirephp\Magewire\Features\SupportMagewireRateLimiting\RateLimiterStorageInterface"
                type="Magewirephp\Magewire\Features\SupportMagewireRateLimiting\Storage\RateLimiterCacheStorage"
    />

    <!--
        Feature: Magewire View Model
    -->
    <preference for="Magewirephp\Magewire\Features\SupportMagewireViewModel\MagewireViewModelInterface"
                type="Magewirephp\Magewire\Features\SupportMagewireViewModel\MagewireViewModel"
    />

    <!-- Global Non-Shareables -->
    <type name="Magewirephp\Magewire\Mechanisms\ResolveComponents\ComponentArguments\LayoutBlockArguments" shared="false"/>
    <type name="Magewirephp\Magewire\Support\DataScope" shared="false"/>
    <type name="Magewirephp\Magewire\Support\Conditions" shared="false"/>
    <type name="Magewirephp\Magewire\Support\DataArray" shared="false"/>

    <!-- Global Plugins -->
    <type name="Magento\Framework\View\TemplateEngine\Php">
        <plugin name="Magewirephp_Magewire_Plugin_Magento_Framework_View_TemplateEngine_Php"
                type="Magewirephp\Magewire\Plugin\Magento\Framework\View\TemplateEngine\Php"
        />
    </type>
</config>
