<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd"
>
    <preference for="Magewirephp\Magewire\Model\RequestInterface"
                type="Magewirephp\Magewire\Model\Request"/>
    <preference for="Magewirephp\Magewire\Model\ResponseInterface"
                type="Magewirephp\Magewire\Model\Response"/>

    <type name="Magewirephp\Magewire\Model\Request\MagewireValidator">
        <arguments>
            <argument name="middleware" xsi:type="array">
                <item name="verify_csrf_token" xsi:type="object">Magewirephp\Magewire\Model\Request\Middleware\VerifyCsrfToken</item>
                <item name="verify_fingerprint" xsi:type="object">Magewirephp\Magewire\Model\Request\Middleware\VerifyFingerprint</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\App\Request\CompositeValidator">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="magewire_validator" xsi:type="object">Magewirephp\Magewire\Model\Request\MagewireValidator</item>
            </argument>
        </arguments>
    </type>
</config>
