<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd"
>
    <!-- Global Preferences -->
    <preference for="Magewirephp\Magewire\Model\App\AbstractExceptionHandler"
                type="Magewirephp\Magewire\Model\App\ExceptionHandler"/>
    <preference for="Magewirephp\Magewire\Support\DataScope\Compiler"
                type="Magewirephp\Magewire\Support\DataScope\Compiler\RecursiveArray"/>

    <!-- Global Non-Shareables -->
    <type name="Magewirephp\Magewire\Mechanisms\ResolveComponents\ComponentArguments\LayoutArguments" shared="false"/>
    <type name="Magewirephp\Magewire\Support\DataScope" shared="false"/>
    <type name="Magewirephp\Magewire\Support\Conditions" shared="false"/>
    <type name="DataArray" shared="false"/>

    <!-- Global Plugins -->
    <type name="Magento\Framework\View\TemplateEngine\Php">
        <plugin name="Magewirephp_Magewire_Plugin_Magento_Framework_View_TemplateEngine_Php"
                type="Magewirephp\Magewire\Plugin\Magento\Framework\View\TemplateEngine\Php"/>
    </type>
</config>
