<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd"
>
    <type name="Magewirephp\Magewire\Features">
        <arguments>
            <!-- Magewire features registration. -->
            <argument name="items" xsi:type="array">
                <item name="hyva_checkout_backwards_compatibility" xsi:type="array">
                    <item name="type" xsi:type="string">Magewirephp\MagewireCompatibilityWithHyva\Magewire\Features\SupportHyvaCheckoutBackwardsCompatibility\SupportHyvaCheckoutBackwardsCompatibility</item>
                    <item name="sort_order" xsi:type="number">99200</item>
                    <item name="sequence" xsi:type="array">
                        <item name="magewire_backwards_compatibility" xsi:type="boolean">true</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
