<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd"
>
    <system>
        <section id="dev">
            <group id="magewire"
                   translate="label"
                   sortOrder="999"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1"
            >
                <label>Magewire</label>

                <group id="loader"
                       translate="label"
                       sortOrder="999"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1"
                >
                    <label>Loader</label>

                    <field id="enable"
                           translate="label comment"
                           type="select"
                           sortOrder="10"
                           showInDefault="1"
                           canRestore="1"
                    >
                        <label>Show</label>
                        <comment>Show a loading screen overlay while a component is busy loading.</comment>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>

                    <field id="enable_notifications"
                           translate="label comment"
                           type="select"
                           sortOrder="10"
                           showInDefault="1"
                           canRestore="1"
                    >
                        <label>Enable Notifications</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment>Display notification component messages when set.</comment>

                        <depends>
                            <field id="dev/magewire/loader/enable">1</field>
                        </depends>
                    </field>

                    <group id="notifications"
                           translate="label"
                           sortOrder="10"
                           showInDefault="1"
                           showInWebsite="1"
                           showInStore="1"
                    >
                        <label>Notifications</label>

                        <depends>
                            <field id="dev/magewire/loader/enable_notifications">1</field>
                        </depends>

                        <field id="message_fadeout_timeout"
                               translate="label comment"
                               type="text"
                               sortOrder="10"
                               showInDefault="1"
                               canRestore="1"
                        >
                            <label>Message Fadeout Timeout</label>
                            <comment>Determine the duration, in milliseconds, for the message to fade out after its target component has fully loaded.</comment>
                            <validate>required-entry validate-digits validate-not-negative-number</validate>
                        </field>
                    </group>
                </group>
            </group>
        </section>
    </system>
</config>
