<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd"
>
    <system>
        <section id="dev">
            <group id="magewire"
                   translate="label"
                   sortOrder="999"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1"
            >
                <label>Magewire</label>

                <group id="loader"
                       translate="label"
                       sortOrder="999"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1"
                >
                    <label>Loader</label>

                    <field id="enable"
                           translate="label comment"
                           type="select"
                           sortOrder="10"
                           showInDefault="1"
                           canRestore="1"
                    >
                        <label>Enable</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>

                    <field id="enable_notifications"
                           translate="label comment"
                           type="select"
                           sortOrder="10"
                           showInDefault="1"
                           canRestore="1"
                    >
                        <label>Enable Notifications</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment>Display additional component notifications if available.</comment>

                        <depends>
                            <field id="dev/magewire/loader/enable">1</field>
                        </depends>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
